*, h2, h3{
    font-family: 微软雅黑;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
.container {
    margin: 0 auto;
}
.horizental-item{
	float: left;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
#pass-phoenix-list-login{
	width:224px;
}
.pass-login-pop-img, .pass-login-pop-img img{
  height: 362px !important;
 
}

#ad {
    width: 100%;
    height: 0;
}
.full_height{
	height: 100%;
	min-height: 850px;
}
.page{
	height: 100%;
}

#page_home{
	background-color: rgb(227, 118, 31);
}
#main{
	height: 100%;
}
#page_home #main {
	background:url('../images/bg_main.jpg') no-repeat top center;
}
#splash {
    min-width: 960px;
    height: 100%;
}
.splash-container {
	top:120px;
	text-align: center;
    position: relative;
}

.qrcode{
	margin-top: 5px;
	height: 90px;
	width: 90px;
}

#qrcode_hint{
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	margin-left: 2px;
	margin-top: 5px;
}

.download-button {
	display: block;
    text-align: center;
    cursor: pointer;
}
#download_icon{
	width: 31px;
	height: 31px;
	background:url('../images/download-icon.png') no-repeat;
	margin-top: 5px;
	display: inline-block;
	position: relative;
	top: 5px;
}
.download-button:hover #download_icon{

}
#splash_introduction{
	text-align: center;
	font-size: 20px;
    line-height: 31px;
	color: rgb(255, 255, 255);
}
#splash_download_qrcode {
	left: 10px;
    position: relative;
	height: 110px;
	width: 200px;
	z-index: 0;
	text-align: left;
}

#page_home #splash_introduction {    
	margin-top: 25px;
	text-shadow: 2px 2px 2px rgb(235, 125, 39);
}
#page_home #download_btn_group{
	margin: 0 auto;
	margin-top: 60px;
	width: 760px;
}
#page_home #splash_download_button {
	position: relative;
	z-index: 1;
}
#page_home #download_place_holder{
	width: 200px;
	height: 1px;
}

#page_home .download-button {
    width: 320px;
	height: 100px;
}

#page_home .download-button:hover {
}

#page_home .download-button:active {

}

#page_home .download-button:hover .download-title {
    background-color: rgb(255, 216, 185);
}

#page_home .download-button:hover .download-subtitle {
    background-color: rgb(255, 216, 185);
}
#page_home .download-button .download-title {
    background-color: rgb(255, 255, 255);
	padding-top: 10px;
    font-size: 28px;
    line-height: 74px;
    font-weight: bold;
    color: rgb(72, 83, 66);
    border-radius: 2px 2px 0 0;
}
#page_home .download-button .download-subtitle {
    border:0px;
	border-top: 1px rgb(226, 117, 33);
	border-style: solid;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 31px;
    color: rgb(196, 110, 28);
    border-radius: 0 0 2px 2px;
}
#page_home #ct_link{
	margin-top: 30px;
	color: white;
	
}


#page_home a{
	color: rgb(255, 246, 0);
}

.footer{
	position: absolute;
	top: 650px;
	text-align: center;
	width: 100%;
	height: 120px;
}

#dash{
	margin: 0 auto;
	height: 2px;
	width: 800px;
	background: url('../images/dot.png');
	position: relative;
	top: 25px;
}
#progress{
	margin: 0 auto;
	height: 2px;
	width: 150px;
	left: -325px;
	background: white;
	position: relative;
	top: 23px;
}
#navbtns{
	width: 800px;
	position: relative;
	z-index: 1;
}

.navbtn{
	width: 100px;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	display: inline-block;
	line-height: 50px;
	color: white;
}
.navbtn a:hover{
	color: white;
}
.navbtn img{
	width: 50px;
}

#page_intro{
	background-color: rgb(232, 227, 22);
}

#page_gift{
	background-color: rgb(33, 166, 210);
}

#page_gift #splash_introduction {
	margin-top: 100px;
}

#page_gift #splash_download_button {
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}
#page_gift .download-button {
    width: 260px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px 2px 2px 2px;
}
#page_gift .download-button .download-title {
	margin: 0 auto;
	padding-top: 15px;
    font-size: 20px;
    color: rgb(33, 166, 210);
}

#page_gift .download-button:hover {
	background-color: rgb(207, 243, 255);
}

#page_feedback{
	background-color: rgb(134, 196, 87);
}

#page_feedback #splash_introduction {
	margin-top: 100px;
}

#page_feedback #splash_download_button {
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}
#page_feedback .download-button {
    width: 260px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px 2px 2px 2px;
}

#page_feedback .download-button:hover {
	background-color: rgb(229, 255, 208);
}

#page_feedback .download-button .download-title {
	margin: 0 auto;
	padding-top: 15px;
    font-size: 20px;
    color: rgb(85, 146, 39);
}

#page_related{
	background-color: rgb(211, 59, 68);
}
#page_related #main {
	background:url('../images/bg_related.jpg') no-repeat top center;
}
#page_related .splash-container {
	width: 900px;
	position: relative;
	left: 50px;
}

#page_related .download-button {
    width: 260px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px 2px 2px 2px;
}
#page_related .download-button .download-title {
	margin: 0 auto;
	padding-top: 20px;
    font-size: 20px;
    color: rgb(134, 196, 87);
}
#page_related #related_demo{
}
#page_related #splash_introduction {
	margin-top: 50px;
	margin-left: 50px;
	width: 500px;
	text-align: left;
	padding-left: 15px;
	font-size: 14px;
	line-height: 20px;
}
#page_related #splash_introduction .container{
	padding-left: 0px;
	margin-bottom: 30px;
}
#page_related #splash_introduction h3{
	margin-left: 10px;
}
#page_related #download_btn_group{
	margin-top: 30px;
}
#page_related #splash_download_button {
	position: relative;
	z-index: 1;
}


#page_related .download-button {
    width: 320px;
	height: 100px;
	
}

#page_related .download-button:hover {

}

#page_related .download-button:active {

}

#page_related .download-button:hover .download-title {
    background-color: rgb(243, 218, 221);
}

#page_related .download-button:hover .download-subtitle {
    background-color: rgb(243, 218, 221);
}
#page_related .download-button .download-title {
    background-color: rgb(255, 255, 255);
	padding-top: 10px;
    font-size: 28px;
    line-height: 74px;
    font-weight: bold;
    color: rgb(72, 83, 66);
    border-radius: 2px 2px 0 0;
}
#page_related .download-button .download-subtitle {
    border:0px;
	border-top: 1px rgb(211, 59, 68);
	border-style: solid;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 31px;
    color: rgb(211, 59, 68);
    border-radius: 0 0 2px 2px;
}

#page_related a{
	color: rgb(255, 245, 139);
}

#declaration{
	margin-top:50px;
	color: rgba(255, 255, 255, 0.5);
}